/******************************************************************GENERAL*********************************************************************************/

body {
  background: white;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.top-bar{
    background-color:transparent;
    color: white;
}
 .top-bar h2{
    background-color: transparent;
     color: white;
}
.top-bar-right a{
    color: white;
}

/**********************************************HEADERS*********************************************************************************/

.headerz{
    background-image: url(assets/backgrounds/hero.jpg);
    background-size: 100% 100%;
    text-align: center;
}

.headerz h4{
        margin-top: 14%;
    font-size: 4em;
    color: white;
}

.headerz h6{
        color: white;
    margin-top: 5%;
}


.arrowb img{
    margin-top: 13%;
    margin-bottom: 5%;
}


/*********************************************PRODUCTS********************************************************************************/


.see-products{
    padding-top: 2%;
/*    padding-bottom: 2%;*/
    background-color: bisque;
}

.button-group .prod{
   float:right;
    background-color: brown;
}


/*********************************************MEN.PRODUCTS********************************************************************************/

.men-products{
margin-top: 10%;
}
